<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tabla</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>ACCIONES</th>
        </tr>
        <%users.forEach(user=>{%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td>
                    <a href="/edit<%=user.id%>">Editar</a>
                    <a href="/delete<%=user.id%>">Borrar</a>
                </td>
            </tr>
        <%});%>
    </table>
</body>
</html>